<h1>Lingua Start Page</h1>

@{
    var userName = ViewContext.RouteData.Values["id"];
}

<div>
    @if (userName != null) {
        <div style="display:inline-block;">@userName</div>        
        <div style="display:inline-block;">@Html.ActionLink("Sign Out", "signout", "auth")</div>
    } else {
        <div style="display:inline-block;">@Html.ActionLink("Sign In", "signin", "auth")</div>
        <div style="display:inline-block;">@Html.ActionLink("Register", "register", "auth")</div>
    }
</div>