<h1>Lingua Start Page</h1>

@{
    var userName = ViewContext.RouteData.Values["id"];
}

<div>
    @if (userName != null) {
        <div>@userName</div> <div>@Html.ActionLink("Sign Out", "signout", "auth")</div>
    } else {
        <div>@Html.ActionLink("Sign In", "signin", "auth")</div> <div>@Html.ActionLink("Register", "register", "auth")</div>
    }
</div>