@model BigLinguaProject.UI.ViewModels.SuccessViewModel

<p>@Model.UserName, you have been successfully registered!</p>

@Html.ActionLink("To Start Page", "index", "home", new { id = Model.UserName }, null)